<button class="button is-link mb-5 ml-4">New Blog Post</button>

<h2 class="ml-4">
    <strong>Your Blog Posts:</strong>
</h2>

<div>
    {{#each user.blogPosts as |blogPost|}}
    <div class="card">
        <header class="card-header">
            <a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a>
        </header>
        <p class="card-content">
            {{blogPost.content}}
        </p>
        <p class="card-footer">
            Created on {{format_date blogPost.created}} by {{user.name}}
        </p>
    </div>
    <br>
    {{/each}}
</div>