<a href="/create">
    <button class="button is-link mb-5 ml-4">New Blog Post</button>
</a>

<h2 class="ml-4">
    <strong>Your Blog Posts:</strong>
</h2>

<div>
    {{#each user.blogPosts as |blogPost|}}
    <div class="card">
        <header class="card-header p-2">
            <a href="/blogpost/{{blogPost.id}}">{{blogPost.title}}</a>

            {{!-- edit button --}}
            <a href="/edit/{{blogPost.id}}">
                <button class="button is-warning is-light is-small ml-2">✏️</button>
            </a>
            {{!-- delete button --}}
            <a>
                <button class="button is-danger is-light is-small ml-2" onclick="deleteBlogPost({{blogPost.id}})">🗑</button>
            </a>
        </header>
        <p class="card-content">
            {{blogPost.content}}
        </p>
        <p class="card-footer p-2">
            Created on {{format_date blogPost.created}} by {{user.name}}
        </p>
    </div>
    <br>
    {{/each}}
</div>
<script src="/js/dashboard.js"></script>